.colorflipper{
    /* width: 500px; */
    text-align: center;
margin-top: 300px;
}

h2{
    background-color: black;
    /* width: 140px; */
    color: aliceblue;
/* width: 500px; */
width:auto;
margin: auto;
border-radius: 100px;
padding: 20px;
font-size: 2.8rem;
display: inline;

}
button{
    width: 100px;
margin-top: 30px;
font-size: 1.8rem;
border-radius: 100px;
padding: 10px;
cursor: pointer;
background-color: transparent;
}
button:hover{
    background-color: black;
    color: yellowgreen;
}
span{
    color:yellowgreen;
}